<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind & Byte</title>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="../static/css/material-kit.css" rel="stylesheet" />
    <link href="../static/css/owl.carousel.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/colors/dodger-blue.css" rel="stylesheet" />
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico?v=2">
</head>

<body id="up">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120613977-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-120613977-1');
	</script>

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Page hero -->
    <div class="" id="headers">
        <!--  Header -->
        <div class="header">
            <nav id="sticky-nav" class="navbar navbar-custom sticky navbar-center">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="" href="#up">
                            <img src="../static/img/logo.png?v=2" alt="logo" width="105px">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navigation-example">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li>
                                <a href="#technologies">Technologies</a>
                            </li>
                            <li>
                                <a href="#blog">Product</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="home" class="page-hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 home-text">
                            <h1 class="title">Welcome to Mind & Byte</h1>
                            <p class="up-type-title"> Do you need <span class="animated-text" id="animated-text"></span></p>
                            <p class="p-details">
                                With big data analytics, we provide applications which help you generate value out of data you already have by using modern technologies.
                            </p>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="../static/img/header-img.png" alt="header image" class="header-img img-responsive">
                        </div>
                    </div>
                 <div id="particles-js"></div>
                </div>
            </div>
        </div>
        <!-- End Header -->
    </div>
    <!-- About -->
    <section class="section" id="about">
        <div class="container">
            <div class="section-heading text-center wow fadeInUp">
                <h2 class="title">About us</h2>
                <h5 class="description">
                	We are a handful of experienced Developers/Analysts
                	who love acting as a team while doing R&D works.  
                </h5>
            </div>
            <!-- first row -->
            <div class="row">
                <div class="col-md-4 wow fadeInUp">
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Development</h4>
                            <p>
                                Our development team use Agile methodologies to keep customer satisfaction at highest level.
    							Moreover we have experiences in certain business areas so we are able to give new ideas to our customers in order to be more Productive on their operations. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="info info-horizontal">
                        <div class="icon icon-success">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Architecture</h4>
                            <p>
								We use cutting edge technologies to design/develop/maintain highly available, automatic horizontal scaling supported software applications.
                            </p>
<!--                             <a href="#up">More...</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Preventive Maintenance</h4>
                            <p>
                                 We take into account tasks for monitoring and maintenance on production as one of the first steps in development stage. Before going to production
    we always have setup for detailed logs and set of alarms. These helps us and our customers to prevent issues or breakdowns long before they happen.
                            </p>
<!--                             <a href="#up">More...</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="../static/img/about-img.png" alt="" class="img-responsive">
            </div>
            <!-- End first row -->
        </div>
    </section>
    <!-- End about -->
    <!-- services -->
    <section class="section services bg-gray" id="services">
        <div class="container">
            <div class="section-heading text-center wow fadeInUp">
                <h2 class="title text-center">Amazing Services</h2>
                <ul class="nav nav-pills nav-pills-primary">
                	<li class="active"><a href="#big-data" data-toggle="tab">Big Data</a></li>
                    <li><a href="#data-warehouse" data-toggle="tab">Data Warehouse</a></li>
                    <li><a href="#data-integration" data-toggle="tab">Data Integration</a></li>
                    <li><a href="#business-intelligence" data-toggle="tab">Business Intelligence</a></li>
                </ul>
                <br>
            </div>
            <div>
                <div class="tab-content tab-space">

                    <div class="tab-pane active" id="big-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-container">
                                    <img src="../static/img/web-design.png" alt="Feature image" class="feature-img img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Big Data</h4>
                                        <p>With services and products implemented by Mind & Byte, customers are able to process and analyze large volume of data 
(both structured and unstructured) in order to perform insights that lead to better decisions and strategic business moves.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="data-warehouse">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="img-container">
                                    <img src="../static/img/web-dev.png" alt="Feature image" class="feature-img img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="fas fa-warehouse"></i>
                                    </div>
                                    <div class="description">
                                    <h4 class="info-title">Data Warehouse</h4>
                                        <p>Depending on your business needs and data,  
Mind & Byte is able to design a datawarehouse model, realize the repository and integrate your data by using modern technologies.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="data-integration">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="img-container">
                                    <img src="../static/img/mac-app.png" alt="Feature image" class="feature-img img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="fa fa-chart-line"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Data Integration</h4>
                                        <p>Do you have various structured and unstructured data spread across various platforms. 
In this case its highly probable that the ideal solution for you is to bring them together into a single hub, build the relations, 
run analytics over hub and build various Business Intelligence applications in order to help you to make accurate decisions.
Mind & Byte can help you to do that by using modern technologies in both ways either real-time or by batch.</p>
									</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="tab-pane" id="business-intelligence">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-container">
                                    <img src="../static/img/web-design.png" alt="Feature image" class="feature-img img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Business Intelligence</h4>
                                        <p>We help businesses to make accurate decisions by Mind & Byte developed  reports, dashboards, and analytics tools either from OLTP or DWH.</p>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End container -->
    </section>
    <!-- End services -->
    <!-- Price table -->
    <div class="section price-table" id="technologies">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="title">Technology</h2>
                <h4 class="description">We work with a leading tech stack, always <b>open source</b>. Where available we always obtain the relevant certifications, and we have a serious commitment to continuous learning and training for all of our consultants. </h4>
            </div>
            <div class="row text-center">                
                <div class="col-md-3">
                    <img height="80px" src="../static/img/pIcons/java.png" />
                </div>
                <div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/hadoop.png" />
                </div>
                <div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/kafka.png" />
                </div>             
                <div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/neo-icon.png" />
                </div>   
            </div>
            <br /><br />
            <div class="row text-center">
            	<div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/pyhton.png" />
                </div>
                <div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/r.png" />
                </div>
                <div class="col-md-3">
                    <img height="110px" src="../static/img/pIcons/redis.png" />
                </div>
                <div class="col-md-3">
                    <img height="80px" src="../static/img/pIcons/mongoDb.png" />
                </div>
            </div>
            <br /><br />
            <div class="row text-center">
            	<div class="col-md-3">
                    <img height="60px" src="../static/img/pIcons/spark.png" />
                </div>
                <div class="col-md-3">
                    <img height="80px" src="../static/img/pIcons/postgresql.png" />
                </div>
                <div class="col-md-3">
                    <img height="80px" src="../static/img/pIcons/reactJs.png" />
                </div>
                <div class="col-md-3">
                    <img height="80px" src="../static/img/pIcons/elastic.png" />
                </div>
            </div>
            
        </div>
    </div>
    <section class="blog" id="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="title">Products</h2>
                <h5 class="description">Due to some marketing concerns we can only share one of our product's name and description for now. Others will be publicly available soon.</h5>
            </div>
            <div class="owl-carousel" id="blog-carousel" align="center">
                <div class="item">
                    <div class="card card-blog">
                        <div class="card-image">
                            <img class="img img-raised img-responsive" src="../static/img/blog/blog1.jpg" alt="img" />
                        </div>
                        <div class="content">

                            <h4 class="card-title">
                            	Small Stone
                            </h4>
                            <p class="card-description">
                            	Two of the applications below helps our customers to analize their data and generate value out of it easier than ever. <br /><br />
                                <b>Small Stone for Airlines</b><br />
                                <b>Small Stone for Bus Companies</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog news -->
    <!-- Contact -->
    <section class="section section-image" id="contact">
        <div class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="title">Get in Touch</h2>
                        <p class="details">
                            You can contact us using the Contact Us form. We will be in touch as soon as possible.  
                        </p>
                        <div class="row">
                            <div class="col col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1 col-md-12">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Find our office</h4>
                                        
                                        <p>
                                            16 Saberton Close,
                                            <br> Redbourn,
                                            <br> ST. ALBANS,
                                            <br> AL3 7DS
                                            <br> London, United Kingdom
                                            <br> team@mindandbyte.com
                                        </p>
                                       
                                    </div>
                                </div>                            
                            </div>
                            
                        </div>


                    </div>
                 
                </div>
            </div>
        </div>
    </section>
 
    <footer class="footer section">
        <div class="container footer-widget">

            <p class="copyright">Built with <i class="fa fa-heart"></i> by Mind & Byte ©2020</p>
        </div>
    </footer>
    <!-- ./Footer section -->
    <!-- End footer -->
    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>
    <!-- Jquery easing -->
    <script type="text/javascript" src="../static/js/jquery.easing.1.3.min.js"></script>
    <!-- Plugin For Google Maps -->
    <!-- Typing text -->
    <script src="../static/js/typed.min.js" type="text/javascript"></script>
    <!-- sticky -->
    <script src="../static/js/jquery.sticky.js" type="text/javascript"></script>
    <!-- owl  carousel -->
    <script src="../static/js/owl.carousel.min.js" type="text/javascript"></script>
    <!-- contact form -->
    <script type="text/javascript" src="../static/js/jqBootstrapValidation.js"></script>
    <!-- <script src="js/modernizr.js" type="text/javascript"></script> -->
        <!-- Partilce js -->
    <script type="text/javascript" src="../static/js/particles.js"></script>
    <!-- main scripts -->
    <script src="../static/js/main.js" type="text/javascript"></script>

</body>

</html>
